<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <div class="form-container">
        <form method="POST">
            <input type="hidden" name="form_name" value="save" />

            <label for="web">Web: </label>
            <input type="text" name="web">

            <label for="username">Username: </label>
            <input type="text" name="username">

            <label for="password">Password: </label>
            <input type="password" name="password">

            <button type="submit">Guardar</button>
        </form>

        <h2>Rate: {{rate}}/10</h2>

        <form method="POST">
            <input type="hidden" name="form_name" value="generate_password" />

            <h3>{{password}}</h3>
            <button type="button" onclick="copyPassword('{{password}}')">Copy password</button>
            <button type="submit">Generate Random Password</button>
        </form>
    </div>

    <label for="web_search">Filter:</label>
    <input type="text" id="web-input" onkeyup="filterWebpages()" name="web">

    <table id="web-table">
        <tr>
            <th>Sitio web</th>
            <th>Nombre de usuario</th>
            <th>Contraseña</th>
        </tr>
        {% for save in data %}
        <form method="POST">
            <input type="hidden" name="form_name" value="other" />


            <tr>
                <td>{{ save['web'] }}</td>
                <td>{{ save['username'] }}</td>
                <td>
                    <input type="hidden" name="web" value="{{ save['web'] }}">
                    <input type="hidden" name="username" value="{{ save['username'] }}">
                    <button type="submit" name="show_password" value="{{ save['web'] }}-{{ save['username'] }}">Show
                        password</button>
                </td>
            </tr>
        </form>
        {% endfor %}
    </table>

</body>

</html>
